{% extends 'base.html' %}
{% load static %}
 
{% block content %} 
<!------------------slider---------------------->
<section class="slider my-slider">
    <div class="items" style="background-image: url({% static 'images/01.jpg' %});">
        <div class="container">
            <div class="row align-items-center h-100 ">
                <div class="col-md-12 text-white">
                    <h1 class="display-4 raleway-normal"> CRMBase' offical blog <br><span class="text-orange"><b>and news portal </b></span></h1>
                    <p class="text-white heading-p ">Keep yourself updated with latest blogs and news from CRMBase.io</p>
                </div>
            </div>
        </div>
    </div>
</section>
    <!-------------------latest blog posts---------------------->
        <section class="blog border-bottom sec-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="section-title mb-4">
                            <h1 class="d-inline-block font font-weight-normal">Recent Blogs<span></span></h1>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 mb-4">
                        <div class="single-item ">
                            <div class="head">
                                <img src="{% static 'images/thumnail-2.png' %}" class="w-100" style="background-image:url({% static 'images/blog/1.jpg' %})" >
                            </div>
                            <p class="m-0 p-3">Date: .09 Oct 2016</p>
                            <div class="text text-md-left text-center px-3">
                                <h5 class="">Top Design trend is hear</h5>
                                <p class="text-gray">
                                There are many variations of dummy passagesare many variations 
                                of dummy passages of Lorem Ipsum a available, but the majority have</p>
                            </div>
                            <div class="footer pl-3 pb-3 pt-3 border-top">
                                <a href="blogs-detail.html" class="my-btn ">READ MORE</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="single-item">
                            <div class="head">
                                <img src="{% static 'images/thumnail-2.png' %}" class="w-100" style="background-image:url({% static 'images/blog/2.jpg' %})" >
                            </div>
                            <p class="m-0 p-3">Date: .09 Oct 2016</p>
                            <div class="text text-md-left text-center px-3">
                                <h5 class="">Top Design trend is hear</h5>
                                <p class="text-gray">There are many variations of dummy passagesare many variations of dummy passages of Lorem Ipsum a available, but the majority have</p>
                            </div>
                            <div class="footer pl-3 pb-3 pt-3 border-top">
                                <a href="blogs-detail.html" class="my-btn ">READ MORE</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="single-item">
                            <div class="head">
                                <img src="{% static 'images/thumnail-2.png' %}" class="w-100" style="background-image:url({% static 'images/blog/3.jpg' %})" >
                            </div>
                            <p class="m-0 p-3">Date: .09 Oct 2016</p>
                            <div class="text text-md-left text-center px-3">
                                <h5 class="">Top Design trend is hear</h5>
                                <p class="text-gray">There are many variations of dummy passagesare many variations of dummy passages of Lorem Ipsum a available, but the majority have</p>
                            </div>
                            <div class="footer pl-3 pb-3 pt-3 border-top">
                                <a href="blogs-detail.html" class="my-btn ">READ MORE</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-lg-0 mb-4">
                        <div class="single-item ">
                            <div class="head">
                                <img src="{% static 'images/thumnail-2.png' %}" class="w-100" style="background-image:url({% static 'images/blog/1.jpg' %})" >
                            </div>
                            <p class="m-0 p-3">Date: .09 Oct 2016</p>
                            <div class="text text-md-left text-center px-3">
                                <h5 class="">Top Design trend is hear</h5>
                                <p class="text-gray">
                                There are many variations of dummy passagesare many variations 
                                of dummy passages of Lorem Ipsum a available, but the majority have</p>
                            </div>
                            <div class="footer pl-3 pb-3 pt-3 border-top">
                                <a href="blogs-detail.html" class="my-btn ">READ MORE</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-lg-0 mb-4">
                        <div class="single-item">
                            <div class="head">
                                <img src="{% static 'images/thumnail-2.png' %}" class="w-100" style="background-image:url({% static 'images/blog/2.jpg' %})" >
                            </div>
                            <p class="m-0 p-3">Date: .09 Oct 2016</p>
                            <div class="text text-md-left text-center px-3">
                                <h5 class="">Top Design trend is hear</h5>
                                <p class="text-gray">There are many variations of dummy passagesare many variations of dummy passages of Lorem Ipsum a available, but the majority have</p>
                            </div>
                            <div class="footer pl-3 pb-3 pt-3 border-top">
                                <a href="blogs-detail.html" class="my-btn ">READ MORE</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-lg-0 mb-4">
                        <div class="single-item">
                            <div class="head">
                                <img src="{% static 'images/thumnail-2.png' %}" class="w-100" style="background-image:url({% static 'images/blog/3.jpg' %})" >
                            </div>
                            <p class="m-0 p-3">Date: .09 Oct 2016</p>
                            <div class="text text-md-left text-center px-3">
                                <h5 class="">Top Design trend is hear</h5>
                                <p class="text-gray">There are many variations of dummy passagesare many variations of dummy passages of Lorem Ipsum a available, but the majority have</p>
                            </div>
                            <div class="footer pl-3 pb-3 pt-3 border-top">
                                <a href="blogs-detail.html" class="my-btn ">READ MORE</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock%}