{% load static %}
<HTML lang="en">
    <HEAD>
    <title>Cremnbase</title>
      
        <link rel="stylesheet" type="text/css" href="{% static 'css/font-style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/font-icon.css' %}">
        
        <link rel="stylesheet" type="text/css" href="{% static 'css/customize.css' %}">
        
        <script type="text/javascript" src="{% static 'js/jquery-3.2.1.slim.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery-2.2.0.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
        
    </head>
    <body>

        <!------------------topbar---------------------->
    <section class="tapbar py-2 bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-lg-left">
                    <a href="tel:+1 514-286-4242" class="d-inline-block bg-gray"><i class="fa fa-phone pr-3"></i>+1 514-286-4242 </a></a>
                </div>
                <div class="col-lg-6  d-lg-block d-none text-right">
                    <a href="https://www.facebook.com/crmbase" class="d-inline-block mr-2"><img src="{% static 'images/icon-facebook.png' %}" width="30"></a></a>
                    <a href="https://www.instagram.com/crmbase.io/" class="d-inline-block mr-2"><img src="{% static 'images/icon-instagram.png' %}" width="30"></a></a>
                    <a href="https://www.linkedin.com/company/crmbase" class="d-inline-block mr-2"><img src="{% static 'images/icon-linkedin.png' %}" width="30"></a></a>
                    <a href="https://twitter.com/CrmBase" class="d-inline-block mr-2"><img src="{% static 'images/icon-twitter.png' %}" width="30"></a></a>
                    <a href="https://www.youtube.com/channel/UCSc9C_08jtC-tAeRAHOBOwQ" class="d-inline-block "><img src="{% static 'images/icon-youtube.png' %}" width="30"></a></a>
                </div>
            </div>
        </div>
    </section>
    
    <div class="nav-head" style="height:80px;">
    
    <!------------------navbar---------------------->
    <nav class="navbar navbar-expand-md navbar-light bg-white ">
        <div class="container">	
            
            <a class="navbar-brand d-block" href="{% url 'index' %}"><img src="{% static 'images/logo.png' %}" class="logo"> </a>
                
            <div class="collapse navbar-collapse" id="navbarSupportedContent ">
                <ul class="navbar-nav ml-auto font-weight-bold d-lg-flex d-none">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'post' %}">Blogs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"  href="{% url 'about-us' %}">About us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mr-0" href="{% url 'contact-us' %}">Contact</a>
                    </li>
                    
                </ul>	
            </div>
                
            <div class="icons d-lg-inline-flex align-items-center pl-2">
                <a href="#0" class="search-btn d-lg-none mr-1 d-inline-block  btn btn-sm bg-orange text-white open"><i class="fa fa-bars"></i></a>
            
            </div>
        </div>
    </nav>
    </div>
    <!------------------side-menu---------------------->
    <div class="side-menu">
        <a href="#0" class="d-flex px-4 py-3 font-weight-bold">Blog</a>
        <a href="#0" class="d-flex px-4 py-3 font-weight-bold">About us</a>
        <a href="#0" class="d-flex px-4 py-3 font-weight-bold">contact</a>
        <div class="side-menu-close open"></div>
    </div>


    {% block content %} 
    {% endblock%}
    <!-------------------footer---------------------->
    
    <section class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center mb-lg-0 mb-3 copyright-text">
                <p><font color="#fff">Copyrights © 2018 All Rights Reserved, Powered by </font><a href="https://crmbase.io"><font color="#FF5D00">CRMBase Inc.</font></a><font color="#fff"></font></p></div>
        
            </div>
        </div>
    </section>
    
    
    
    
        <script type="text/javascript" src="{% static 'js/jquery.events.touch.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/lightcase.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/customize.js' %}"></script>
        
        
        
        
    </body>
    </html>